* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .image1 {
    background-image: url("./İMG/yayıncılarimg/714440ba-3734-423a-8e20-2f431ba259f0-profile_image-300x300.png");
  }
  .image2 {
    background-image: url("./İMG/yayıncılarimg/umtaca.png");
  }
  .image3 {
    background-image: url("./İMG/yayıncılarimg/muzcı.jpeg");
  }
  .image4 {
    background-image: url("./İMG/yayıncılarimg/indir\ \(1\).jpg");
  }
  .image5 {
    background-image: url("./");
  }
  
  .parallax {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  .heading-container {
    border-radius: 1.5rem 0;
    padding: 2rem;
    background-color: black;
    color: white;
    outline-offset: 1rem;
    outline: 0.6rem inset purple;
    width: 25rem;
  }
  
  .light {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 2rem;
    padding: 3rem;
    color: #666666;
  }
  
  .dark {
    background-color: #282e34;
    text-align: center;
    line-height: 2rem;
    padding: 3rem;
    color: #ddd;
  }
  
  #resim {
    width: 300px;
  }